# Ignore everything
/*

# Except these files & folders
!/public
!/src
!.eslintrc.json
!.prettierrc
!contentlayer.config.js
!next-seo.config.mjs
!next-sitemap.config.js
!next.config.mjs
!package.json
!postcss.config.cjs
!tailwind.config.js
!tsconfig.json