.item {
  display: flex;
  padding: 16px;
  width: calc(33.33% - 32px);
  min-width: 320px;
  transition-duration: 300ms;
}

.card {
  background-color: var(--white-color);
  border-radius: 1rem;
  box-shadow: 0 10px 32px -10px rgba(0,0,0,0.30);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.image {
  height: 320px;
  overflow: hidden;

  img {
    object-fit: cover;
    max-width: 175%;
    vertical-align: top;
  }
}

.text {
  padding: 1rem;
  text-align: left;
  color: var(--black-color);
  border-top: 1px solid #eee;
}

.title {
  font-size: 20px;
  margin: 0px;
  margin-bottom: 8px;
}

.category {
  font-size: 16px;
  margin: 0px;
}