.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  pointer-events: none;
}

.grid > * {
  pointer-events: auto;
  transition-duration: 300ms;
}

.grid:hover > * {
  opacity: 0.5;
}

.grid:hover > *:hover {
  opacity: 1;
}